[Desktop Entry]
Name=Notclient
Exec="~/build/python/notclient/notclient.py terg.is"
Icon=news-feed
Terminal=false
Type=Application
StartupNotify=true
OnlyShowIn=GNOME;
